# Python
*.py[co]
.virtualenv/
_venv/
.cache/
.pytest_cache/
.tox/
.coverage*

# Node
node_modules/

# WPT repo stuff
/MANIFEST.json
.wptcache/
/config.json

# Various OS/editor specific files
*#
*.sw[po]
*~
\#*
scratch
.idea/
.vscode/
.DS_Store
*.rej

# igonre pycache
__pycache__

# ignore SETUP_LOG
setup_log_Py27.txt

# ignore persisted db files
**/wave/database/exports/

# ignore local setup
setup_log_Py27.txt
venv/

wptreport/
